<div class="col-lg-4">
    <div class="card-group d-block d-md-flex row"><div class="card col-md-7 p-4 mb-0">
        <div class="card-body">
          <h1>Login</h1>
          <p class="text-medium-emphasis">Sign In to your account</p>
          {{#if message}}
          <div class="alert alert-danger" role="alert">{{message}}</div>
          {{/if}}
      <form method="post" action="/login-form">
      <div class="input-group mb-3"><span class="input-group-text">
          <svg class="icon">
            <use xlink:href="../../static/icons/svg/free.svg#cil-user"></use>
          </svg></span>
        <input class="form-control" id="username" name="username" type="text" placeholder="Username">
      </div>
      <div class="input-group mb-4"><span class="input-group-text">
          <svg class="icon">
            <use xlink:href="../../static/icons/svg/free.svg#cil-lock-locked"></use>
          </svg></span>
            <input class="form-control" id="password" name="password" type="password" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary px-4" type="submit">Login</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
</div>
